
.signUp-business{
    width: 450px!important;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    background-color: #9AD9EA;
    background-image: linear-gradient(to right, #9AD9EA ,#417584 );
    }
    .btnnn{
        padding: 10px 50px;
    }
    
    .header{
        background-color: #fff;
    }
    
    .btns:hover, .btns:focus{
        background-color: #000000;
        color:#fff;
    }
    
    .btns{
        padding: 5px 30px;
        border-radius: 10px;
    }
    
    // .input1{
    //     width: 250px;
    //   }
    
      .arrow-symbol::after {
        content: "▼"; /* Unicode character for down arrow */
        font-size: 18px;
        color: #555;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none; /* Ensure the arrow doesn't interfere with input */
      }


