<section style="height: 600px;margin-top: 100px;">

    <form [formGroup]="forgotPasswordForm">
      
      <div class="container mb-5  mt-2 signUp-business">
          
           <div class="container">
            <div class="row  p-4">
                <h2 class="text-center text-black p-1"> Create New PassWord</h2>
                <div class="col-md-12 mt-5 text-center">
                    <input formControlName="password" name="text" type="text" id="text" class="form-control input1 inputField" placeholder="Password">
                    <div *ngIf="password?.errors && (password?.dirty || password?.touched)">
                        <div *ngIf="password?.errors?.['required']">Password is required.</div>
                        <div *ngIf="password?.errors?.['passwordStrength']">
                          Password must have:
                          <ul>
                            <li *ngIf="!password?.errors?.['passwordStrength']?.hasUpperCase">An uppercase letter</li>
                            <li *ngIf="!password?.errors?.['passwordStrength']?.hasLowerCase">A lowercase letter</li>
                            <li *ngIf="!password?.errors?.['passwordStrength']?.hasNumber">A number</li>
                            <li *ngIf="!password?.errors?.['passwordStrength']?.hasSpecialChar">A special character ($. "&#64;" # & !)</li>
                            <li *ngIf="!password?.errors?.['passwordStrength']?.hasMinLength">At least 8 characters</li>
                          </ul>
                        </div>
                      </div>
                  </div>
    
                  <div class="col-md-12 mt-3 text-center">
                    <input formControlName="confirmPassword" name="text" type="text" id="text"
                        class="form-control input1 inputField" placeholder="ConfirmPassword">
                    <div
                        *ngIf="confirmPassword?.errors && (confirmPassword?.dirty || confirmPassword?.touched)">
                        <div *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required.</div>
                        <div
                            *ngIf="forgotPasswordForm.errors && forgotPasswordForm.errors['passwordsMismatch']">
                            Passwords do not match.</div>
                    </div>
                </div>

      
        
              <div class="col-md-12 text-center mt-3">
               
          <input type="submit" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()" value="Submit" class="btns">
              </div>
        
          </div>
           </div>
        
          </div>
        

        
      </form>
      </section>


