<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="mt-5">
    <mat-tab label="Why VaaXY" class="fw-bolder">
        <div class="col-md-12 text-body p-4">
            <p class="" style="text-align: justify;">By choosing to drive with VaaXY, drivers embark on a journey that goes beyond the ordinary. With a commitment to excellence, innovation, and a focus on creating a world-class experience, VaaXY drivers play a crucial role in delivering a rideshare service that is truly extraordinary. Welcome to VaaXY, where your driving experience is elevated to new heights.</p>
          </div>
          <div class="col-md-12 text-center mt-5 mb-5">
            <button class="btns" (click)="signUpDriver()">SignUp</button>
          </div>
    </mat-tab>
    <mat-tab label="VaaXY Works" class="fw-bolder">
        <div class="col-md-12 text-body p-4">
            <h2>How VaaXY Works for Drivers: Elevating Your Driving Experience </h2>     
        <p class="text-justify">Joining the prestigious community of VaaXY drivers is an exciting opportunity to be part of a premium rideshare service dedicated to delivering a top-tier experience for our elite clientele. Here's how it works for drivers:</p>
        
        <h5>1.Driver Application:</h5>
        <p class="text-justify">•	Begin the journey by submitting an application to become a VaaXY driver. We seek individuals who embody professionalism, discretion, and a commitment to providing an exceptional level of service.</p>
        <h5>2.Screening and Approval:</h5>
        <p class="text-justify">•	Our rigorous screening process ensures that every VaaXY driver meets our high standards. We assess driving records, professionalism, and adherence to safety protocols to ensure a secure and comfortable experience for our riders.</p>
        <h5>3.Onboarding and Training:</h5>
        <p class="text-justify">•	Upon approval, drivers undergo comprehensive onboarding and training. This includes familiarization with VaaXY's standards, the use of our app, and the essential skills needed to deliver a refined and discreet service.</p>
        <h5>4.Access to the VaaXY Fleet:</h5>
        <p class="text-justify">•	Once onboard, drivers gain access to our curated fleet of high-end, exotic cars, and trucks. VaaXY takes pride in providing drivers with the tools they need to offer an unparalleled level of luxury and sophistication to our riders.</p>
        <h5>5.Concierge-Style Booking System:</h5>
        <p class="text-justify">•	Drivers benefit from VaaXY's advanced concierge-style booking system. This system caters to both immediate and scheduled bookings, allowing drivers to plan their schedules efficiently.</p>
        <h5>6.Real-Time Ride Requests:</h5>
        <p class="text-justify">•	Drivers receive real-time ride requests through the VaaXY app. This seamless process ensures that drivers can focus on providing a top-notch service without unnecessary delays.</p>
        <h5>7.Customized Ride Experience:</h5>
        <p class="text-justify">•	VaaXY believes in customization not only for riders but for our drivers as well. Drivers have the flexibility to choose their preferred schedule, allowing for a balanced and fulfilling work-life experience.</p>
        <h5>8.Transparent Earnings:</h5>
        <p class="text-justify">•	VaaXY provides transparent earnings for our drivers. Our app displays comprehensive information on each trip, ensuring clarity and openness in every aspect of the driver's relationship with VaaXY.</p>
        <h5>9.Professional Support:</h5>
        <p class="text-justify">•	VaaXY is committed to supporting its drivers. Our professional support team is available 24/7 to address any inquiries or concerns, ensuring that our drivers feel valued and empowered in their roles.</p>
        <h5>10.Elite Driver Network:</h5>
        <p class="text-justify">•	Joining VaaXY means becoming part of an elite network of drivers known for their professionalism and commitment to delivering a distinguished service. This network fosters a sense of community and pride among our drivers.</p>
        <h5>11.Incentives and Recognition:</h5>
        <p class="text-justify">•	VaaXY values the contributions of its drivers and offers incentives and recognition programs. Exceptional service and commitment to our values are acknowledged and rewarded to celebrate the achievements of our driver community.</p>
        <h5>12.Opportunities for Growth:</h5>
        <p class="text-justify">•	VaaXY provides opportunities for professional growth within the company. As we expand our services globally, drivers may have the chance to be part of new markets and experiences.</p>
          </div>
    </mat-tab>
</mat-tab-group>