<section class="backgroound-image">
    <div class=" header">
      <h2 class="text-center text-black p-2"> Business</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-body">
          <p class="" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nihil repudiandae omnis, ullam unde quod aliquid ea recusandae. Dolorum iste impedit atque nobis quibusdam consequatur recusandae exercitationem facere, doloremque dicta!</p>
        </div>
        <div class="col-md-12 text-center mt-5 mb-5">
          <button class="btns" (click)="signUpBusiness()">SignUp</button>
        </div>
      </div>
    </div>
  </section>