/* The switch - the box around the slider */
.twoFA{
    width: 750px!important;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    background-color: #9AD9EA;
    background-image: linear-gradient(to right, #9AD9EA ,#417584 );
    }
  .setup{
    color:#fff;
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 90px;
      height: 34px;
    }
  
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;     
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #541010;
      transition: 0.4s;
      border-radius: 34px;
    }
    
    /* Slider before */
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
    
    /* Text inside the slider */
    .toggle-text {
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 34px;
      font-size: 12px;
      color: white;
      user-select: none;
      pointer-events: none;
    }
    
    /* Checked */
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    /* Move the slider */
    input:checked + .slider:before {
      transform: translateX(56px);
    }
  
  
    .btns:hover, .btns:focus{
      background: rgb(11,0,36);
      background: linear-gradient(90deg, rgba(11,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,212,255,1) 100%);
      color:#fff;
    }
    
    .btns{
        padding: 8px 30px;
        border-radius: 10px;
        background-color: #000000;
        text-decoration: none;
        color:#fff;
        font-weight: bolder;
        
    }
  
  
    
    .ion-item {
      --inner-padding-end: 55px; /* Adjust inner padding */
      --background: none !important;
      --border-style:none !important;
    }
  
  
    
  
  
  
  
  // Toggle
  // :host {
  //   display: block;
  //   position: relative;
  //   width: 100px;
  //   height: 50px;
  // }
  
  // input[type="checkbox"] {
  //   display: none; 
  // }
  
  // /* 토글 버튼 내부의 원. 감춘 체크박스와 연동한다. */
  // .toggle-button-switch {
  //   position: absolute;
  //   top: 2px;
  //   left: 2px;
  //   width: 46px;
  //   height: 46px;
  //   background-color: #fff;
  //   border-radius: 100%;
  //   cursor: pointer;
  //   z-index: 100;
  //   transition: left 0.3s;
  // }
  
  // /* 토글 버튼의 바탕 */
  // .toggle-button-text {
  //   overflow: hidden;
  //   background-color: #fc3164;
  //   border-radius: 25px;
  //   box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  //   transition: background-color 0.3s;
  // }
  
  // /* 토글 버튼의 텍스트 */
  // .toggle-button-text-on,
  // .toggle-button-text-off {
  //   float: left;
  //   width: 50%;
  //   height: 100%;
  //   line-height: 50px;
  //   font-family: Lato, sans-serif;
  //   font-weight: bold;
  //   color: #fff;
  //   text-align: center;
  // }
  
  // /* 체크박스가 체크 상태이면 토글 버튼 내부의 원을 오른쪽으로 52px 이동 */
  // input[type="checkbox"]:checked ~ .toggle-button-switch {
  //   left: 52px;
  // }
  
  // /* 체크박스가 체크 상태이면 토글 버튼의 배경색 변경 */
  // input[type="checkbox"]:checked ~ .toggle-button-text {
  //   background-color: #3dbf87;
  // }
  