<h2 class="text-center text-black p-2"> Security And Password</h2>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Assign 2FA"> <div class="container twoFA mt-2">
    <div class="p-5" style="background-color: #9AD9EA;
    background-image: linear-gradient(to right, #9AD9EA ,#417584 );">
  
  
      <h1 class="mt-3"><span class="setup d-flex justify-content-center">Two-Factor Authentication</span></h1>
  
      <form [formGroup]="userSettingForm">
        <div class="row">
          <div class="col-md-12">
            <p class="" style="text-align: justify;">Two-factor authentication, also known as 2FA or multi-factor, adds an
              extra layer of security to your account beyond your username and password. When you login with 2FA enabled,
              you will be prompted to use a security key or enter a verification code, depending on which method you
              choose below.</p>
  
          </div>
          <div class="row">
            <div class="col-md-8">
              <h5>Enable Email verification</h5>
            </div>
            <div class="col-md-4">
              <ion-item class="ion-item">
                <ion-toggle (ionChange)="onToggleChanged('isEmail', $event)"
                  [checked]="userSettingForm.get('isEmail')?.value === 1"></ion-toggle>
                <ion-label slot="end">{{ userSettingForm.get('isEmail')?.value === 1 ? 'Yes' : 'No' }}</ion-label>
              </ion-item>
  
              <!-- <h3>Email</h3> -->
              <!-- <label class="switch">
            <input type="checkbox" formControlName="isEmail" (change)="toggle($event)" [checked]="isChecked">
            <span class="slider round">
              <span class="toggle-text">{{ isChecked ? 'Yes' : 'No' }}</span>
            </span>
          </label> -->
  
            </div>
  
            <div class="col-md-8 mt-4">
              <h5>Enable Phone verification</h5>
            </div>
            <div class="col-md-4 mt-3">
              <ion-item class="ion-item">
                <ion-toggle (ionChange)="onToggleChanged('isPhone', $event)"
                  [checked]="userSettingForm.get('isPhone')?.value === 1"></ion-toggle>
                <ion-label slot="end">{{ userSettingForm.get('isPhone')?.value === 1 ? 'Yes' : 'No' }}</ion-label>
              </ion-item>
            </div>
  
            <div class="col-md-8 mt-4">
              <h5>Enable Face verification</h5>
            </div>
            <div class="col-md-4 mt-4">
              <ion-item class="ion-item">
                <ion-toggle (ionChange)="onToggleChanged('isFace', $event)"
                  [checked]="userSettingForm.get('isFace')?.value === 1"></ion-toggle>
                <ion-label slot="end">{{ userSettingForm.get('isFace')?.value === 1 ? 'Yes' : 'No' }}</ion-label>
              </ion-item>
            </div>
          </div>
        </div>
      </form>
  
      <br>
      <br>
      <br>
      <br>
      <span class="d-flex justify-content-center"><a class="btns" (click)="userSetup()">Save</a></span>
      <br>
      <br>
  
    </div>
  </div> </mat-tab>
  <mat-tab label="Change Password"> 
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>

